/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2015, 9:01:12 PM
    Author     : Reza Elborneo
*/

.z-listitem.mainList{
    border-bottom: 1px #a5a5a5 dashed;
}


.z-listitem.mainList.z-listitem-selected>.z-listcell{
    background: #37A1A5;
    border-bottom: 1px #a5a5a5 dashed;
}

.z-listitem.mainList.z-listitem-selected:hover>.z-listcell{
    background: #37A1A5;
    border-bottom: 1px #a5a5a5 dashed;
}


.mylist-listcell{

}
/*.z-listitem.mylist-cell-odd{
    background: #B5DDFF;
}*/

.z-listitem.z-listitem:hover>.z-listcell {
    background: #EAF0CE;
}

.z-listitem.z-listitem-selected:hover>.z-listcell {
    border-color: #FFF;
    background: #40798C;
}

.z-listitem.z-listitem-selected>.z-listcell {
    border-color: #FFF;
    background: #40798C;
}
.z-listitem.z-listitem-selected .z-listcell-content {
    color: #FFFFFF;
    background: #40798C;
}
.z-listitem.z-listitem-selected:hover .z-listcell-content {
    color: #FFFFFF;
}

.z-listbox-odd.z-listitem {
    background: #ffffeb;
}


.btn,.form-control,.z-combobox-input,.z-combobox-popup,.z-combobox-button,.z-intbox, .z-intbox-invalid, .z-textbox, .z-textbox-invalid, .label,
.z-datebox-input,.z-datebox-icon, .z-datebox-calendar, .z-datebox-button,.z-datebox-popup, .z-datebox-open, .z-datebox-shadow,
.z-timebox-input,.z-timebox-button,.input-group-addon,.z-window-icon{
    border-radius:                    0px;
    -webkit-border-radius:            0px;
    -moz-border-radius:               0px;
}

.z-window{
    background: #0B2027;
}


.z-window-header {
    color: #F4F4F4;
    padding: 3px 0 5px 10px;
}

body *:not([class*="glyphicon"]):not([class*="z-icon-"])  {
    font-family: "Segoe UI";
    font-size: 13px;
}



.header {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    vertical-align:middle;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


    color: white;
    padding-right: 10px;

}

.footer {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


    color: white;
    padding-top: 5px;
}

img.header-img {
    padding: 0 10px; 
    width: 100px;
    height: 70px;
    width: auto\9; /* ie8 */
}

.panel{
    border-radius: 2px;
}
.panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.z-combobox-input, .z-combobox-rightedge, z-combobox-invalid{

    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

.z-combobox-button{
    height: 34px;
}

.z-combobox-input:focus, .z-combobox-rightedge:focus, z-combobox-invalid:focus{
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.z-tab, .z-tab-content{
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0; 
}
.z-datebox-input,.z-combobox-input,.z-combobox-button,.z-datebox-button{
    height:30px;
}